body {
  font-family: 'Abhaya Libre', serif;
  margin: 0;
  padding: 0;
  line-height: 2.0;
}

 #menuToggle {
            display: none;
        }

        .sidebar-menu {
            z-index: 99;
            width: 250px;
            height: 100vh;
            background-color: #D8D4BE;
            position: fixed;
            left: -250px;
            top: 0;
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
            transition: left 0.3s;
        }

        .sidebar-menu li, .sidebar-menu a {
            color:#39402D;
        }

        #menuToggle:checked + .sidebar-menu {
            left: 0;
        }

        .menu-btn {
            font-size: 60px;
            cursor: pointer;
            background: none;
            border: none;
            display: block;
            padding: 10px;
            margin: 0;
        }
    
  .close-btn {
            font-size: 30px;
            cursor: pointer;
            background: none;
            border: none;
            display: block;
            padding: 10px;
            margin: 0;
            text-align: right;
            width: 100%;
            display: none;
            position: absolute;  
            top: 10px;         
            right: 10px; 
            color:#39402D;
        }

        .menu-btn:before {
            content: '≡';
        }

        .close-btn:before {
            content: '✖';
        }

        .close-btn {
            text-align: right;
            width: 100%;
            display: none;
        }

        #menuToggle:checked + .sidebar-menu .close-btn {
            display: block;
        }

        #menuToggle:checked + .sidebar-menu + .menu-btn {
            display: none;
        }

        .ul{
          color:#39402D;
        }

.icon{
   width: 30px;
   height: 30px; 
}

.moon_column1{
  color:#37402D;
}

.moon_column1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #37402D;
  font-size: 20px;
  text-align:center;
  margin-top: 50px;
}

.moon_column1 p{
  width: 50%;
}

.moon_column2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #37402D;
  font-size: 20px;
  text-align:center;
}

.moon_column2 p{
  width: 50%;
}

.moon_column2{
  color:#37402D;
}

.moon_column3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #37402D;
  font-size: 20px;
  text-align:center;
}

.moon_column3 img{
  width: 40%;
}

.moon_column3 p{
 padding:100px;
}

.moon_column3 h1{
 font-size: 35px;
}


@media only screen and (max-width: 750px){
   
   body {
    line-height: 1.8; 
  }

  .menu-btn, .close-btn {
    font-size: 30px; 
  }

 .moon_column1{
  display: flex;
  flex-direction: column;
  padding-left: none;
  padding-right: none;
 }

.moon_column1 p,
.moon_column2 p{
  width: 100%;
}

.moon_column2{
  display: flex;
  flex-direction: column;
  padding-left: none;
  padding-right: none;
  width:100%;
 }
 
.moon_column3{
  display: flex;
  flex-direction: column;
}
}