body {
  font-family: 'Abhaya Libre', serif;
  margin: 0;
  padding: 0;
  line-height: 2.0;
}

 #menuToggle {
            display: none;
        }

        .sidebar-menu {
            z-index: 99;
            width: 250px;
            height: 100vh;
            background-color: #D8D4BE;
            position: fixed;
            left: -250px;
            top: 0;
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
            transition: left 0.3s;
        }

        .sidebar-menu li, .sidebar-menu a {
            color:#39402D;
        }

        #menuToggle:checked + .sidebar-menu {
            left: 0;
        }

        .menu-btn {
            font-size: 60px;
            cursor: pointer;
            background: none;
            border: none;
            display: block;
            padding: 10px;
            margin: 0;
        }
    
  .close-btn {
            font-size: 30px;
            cursor: pointer;
            background: none;
            border: none;
            display: block;
            padding: 10px;
            margin: 0;
            text-align: right;
            width: 100%;
            display: none;
            position: absolute;  
            top: 10px;         
            right: 10px; 
            color:#39402D;
        }

        .menu-btn:before {
            content: '≡';
        }

        .close-btn:before {
            content: '✖';
        }

        .close-btn {
            text-align: right;
            width: 100%;
            display: none;
        }

        #menuToggle:checked + .sidebar-menu .close-btn {
            display: block;
        }

        #menuToggle:checked + .sidebar-menu + .menu-btn {
            display: none;
        }

        .ul{
          color:#39402D;
        }

.icon{
   width: 30px;
   height: 30px; 
}

.worship_column1 {
  display: flex; 
  color: #39402D;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.worship_column1_top {
  font-size: 25px;
  width: 50%;
  line-height: 1.5;
  flex-direction: column;
}

.worship_column1_bottom {
  color: #39402D;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
}


.worship_column3 {
  display: flex; 
  color: #39402D;
  font-size: 20px;
}

.worship_column3_left, .worship_column3_right{
  flex-basis: 50%;
}


.worship_column3_left{
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto;

}

.worship_column3_right img{
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto;
}

.worship_column4{
  display:flex;
  color: #39402D;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.worship_column4_top p{
  font-size: 20px;
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto; 

}

.worship_column4_down img{
  justify-content: center;
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto;
}

.worship_column5 {
  margin:50px;
  display: flex; 
  color: #39402D;
  font-size: 20px;
}

.worship_column5_left, .worship_column5_right{
  flex-basis: 50%;
}


.worship_column5_left{
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto;

}

.worship_column6{
  background-color:  #D8D4BE;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #39402D;
  font-size: 20px;
  text-align:center;
  margin-top: 100px;
  height: 100px;
}

.worship_column7{
  display:flex;
  color: #39402D;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.worship_column7 p{
  font-size: 20px;
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto;
}

.worship_column8 {
  display:flex;
  color: #39402D;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.worship_column8_top1, .worship_column8_top2 {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.worship_column8_buttom, .worship_column8_buttom1{
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}



.worship_column8_buttom2{
  margin-left: auto;
  margin-right: auto;
}

.worship_column9{
  display:flex;
  color: #39402D;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.worship_column9, .worship_column8_buttom p{
  font-size: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.worship_column9img{
  display:flex;
  color: #39402D;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.worship_column8_buttom1{
  display:flex;
  color: #39402D;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.worship_column10{
  display:flex;
  color: #39402D;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.worship_column10 p{
  font-size: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.worship_column10 {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 750px){
   
   body {
    line-height: 1.8; 
  }

  .menu-btn, .close-btn {
    font-size: 30px; 
  }

  .worship_column1 p,
  .worship_column3 p,
  .worship_column4 p,
  .worship_column5 p,
  .worship_column6 p,
  .worship_column7 p,
  .worship_column8 p,
  .worship_column8_buttom p,
  .worship_column9 p,
  .worship_column10 p{
    font-size: 16px;
    padding-left: none;
    padding-right: none;
    width:100%;
  }

  .worship_column1 h1{
    font-size: 50px;
  }

   .worship_column3 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    width: 100%; 
    max-width: none;
  }

.worship_column5 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    max-width: none;
  }


.worship_column6 h1 {
    font-size: 24px; 
  }
